/* 스타일 초기화 - 각각의 태그들에게 설정되어있는 기본스타일을 제거 */
*{ /* 필수 */
    margin:0;padding:0;
}
h1,h2,h3,h4,h5,h6{
    font-weight:inherit;
    font-size:inherit; /* inherit : 글씨 크기를 부모태그에 적용된 글씨 설정으로 적용한다. 상속시킨다. 한번에 수정하기에 편하다. */
    line-height:1; /* 내용 간격은 1.4, 제목의 간격은 1~1.2로 행간을 맞춰준다. */
}
 /*상속 스타일을 설정하는 이유는 영역태그에 글씨 관련 속성들을 지정했을 때 그 안에 자식태그나 자손태그 혹은 글자들의 글씨스타일을 한번에 적용 혹은 수정하기 편하게 하기 위해서임 */
strong,b{
    font-weight: inherit;
}
i,em,address{
    font-style: inherit;
}
a{
    color:inherit;
    text-decoration: inherit;
}
ul,ol{ /* 필수 */
    list-style:none;
}
img,video{
    max-width:100%;
}
input{outline:0;} /* 클릭했을때 포커싱이 굵게 변하지 않음 */